<!DOCTYPE html>
<html lang="en" coupert-item="9AF8D9A4E502F3784AD24272D81F0381">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>React App</title>
</head>

<body data-new-gr-c-s-check-loaded="14.983.0">
    <div id="root">
        <div>
            <div class="nav">
                <a href="/">
                    <h1>NESTO/Fin.</h1>
                </a>
            </div>
            <div class="Toastify"></div>
            <div class="home-page" id="top"></div>
        </div>

        <div class='window1'>
            <div class='a'>
                <h1>Hello
                    <%=name%>
                </h1>
            </div>
            <div class='line'></div>
            <% if(success) {%>
                <div class='para1'>
                    <div style="display: inline-block;padding: 0 10px; border-radius:25px;background-color:rgb(23, 148, 23);color: white;">&#x2714;</div>Payment Successful
                </div>
                <% } else { %>
                    <div class='para1'>
                        <div style="display: inline-block;padding: 0 10px; border-radius:25px;background-color:rgb(223, 35, 35);color: white;">&#x2718;</div>Payment Unsuccessful
                    </div>
                    <% } %>
        </div>
        <div class="window5">
            <div class="last-nav">
                <ul>
                    <li><a href="#top">Back to Top</a></li>
                </ul>
            </div>
            <div class="terms-conditions">The information contained in this website is for general information purposes only. The information is provided by [www.nestofin.com], a property of [Nestofin Technologies Private Limited]. While we endeavour to keep the information up to
                date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services,
                or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.<br><br> In no event will we be liable for any loss or damage including without limitation,
                indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.<br><br> Through this website you are able to link to other
                websites which are not under the control of [Nestofin Technologies Private Limited]. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or
                endorse the views expressed within them.<br><br>Every effort is made to keep the website up and running smoothly. However, [Nestofin Technologies Private Limited] takes no responsibility for, and will not be liable for, the website being
                temporarily unavailable due to technical issues beyond our control.</div>
        </div>
    </div>
    </div>

</body>
<div id="26b85f1a-b59d-4e37-b25c-e17f132c5d4c" style="all: initial;"></div>
<div id="2fb82d18-aaf8-447c-b556-9d152f00eaec" style="all: initial;"></div>
<div id="bd4e579a-d8ad-45a2-aa3f-1fb111e06ce4" style="all: initial;"></div>
<div id="8198595e-d460-4c78-b11b-0cef0ccc095e" style="all: initial;"></div>
<div id="21a56f19-b056-4b03-8387-6472db8e4aaa" style="all: initial;"></div>
<div id="ac409db3-f8be-4b5c-9562-20d7a7a2ed34" style="all: initial;"></div>
<div id="f00a8b4a-b8d2-4a83-8db8-3959523c5151" style="all: initial;"></div>
<div id="fa470f6a-b26f-4205-933b-e958912745ac" style="all: initial;"></div>

</html>